{% extends 'comptes/main.html' %}
{% block content %}
  
<br>

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Produits</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Produit</th>
          <th>Categorie</th>
          <th>Prix</th>
        </tr>
        {% for i in produits %}
							<tr>
								<td>{{i.nom}}</td>
								<td>{{i.categorie}}</td>
								<td>{{i.prix}}</td>
							</tr>
						{% endfor %}
      </table>
    </div>
  </div>
  
</div>

{% endblock %}